<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content=""/>
  <meta name="author" content="Dashboard"/>
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina"/>
  <title>Save membre</title>

 <object th:include="fragments/head :: head" th:remove="tag"></object>


</head>

<body>
  <section id="container">
     <div th:include="fragments/topmenuheader :: header"></div>
 <div th:include="fragments/homeaside:: aside"></div>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<div >
<section id="main-content" style="width:60%;margin:auto">
 
      <section class="wrapper site-min-height">
      <br>
               <div class="alert alert-danger" th:if="${faillure}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Info!</strong> Enregistrement echoue .
               </div>

                <div th:if="${succes}" class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Info!</strong> Nouveau membre enregistre avec succes.
              </div>
 
     
        <!-- page start-->
        <div class="chat-room mt">
          <aside class="mid-side" >
            <div class="chat-room-head">
              <h3>Changer Mot de passe</h3>
              
            </div>
 
		  <form th:object="${user}" th:action="@{changePassword}" class="form-horizontal tasi-form"
	  method="post" id="user"  style="padding-left:140px">
		 
			  
			  	<div class="form-row">
                       <br/>
	             <div class="col-md-9 mb-3">
              <!--   <div class="form-group">
                  <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Ancien Mot de passe</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control round-form" name="ancien" placeholder="Ancient mot de passe">
                  </div>
                </div> -->
			
                <div class="form-group ">
                  <label class="col-sm-2 control-label col-lg-2" for="inputWarning">Nouveau mot de passe</label>
                  <div class="col-lg-10">
                    <input type="password" class="form-control round-form" th:field="*{password}" placeholder="Nouveau mot de passe">
                  </div>
                </div>
                <!-- transferwise2019 -->
                
                 <div class="form-group">
                  <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Confirmer votre mot de passe</label>
                  <div class="col-lg-10">
                    <input type="password" class="form-control round-form" name="password_confirm" placeholder="Confirmer votre mot de passe">
                  </div>
                </div>
                 
                
	    <div class="modal-footer ">
        <button  class="btn btn-theme" ><span class="fa fa-save"></span> Enregistrer</button>
        </div>
				</div>
				</div>
				

      </form>
                 </aside>
                  </div>
                  
         </section>
         </section>
                </div>
		
	
        <!-- page end-->

        <div th:include="fragments/homefooter :: footer"></div>
     </section>
  	  

    <!--main content end-->
    <!--footer start-->
  <!--footer end-->

 
</body>

</html>
