<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content=""/>
  <meta name="author" content="Dashboard"/>
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina"/>
  <title>Save membre</title>
     <object th:include="fragments/head :: head" th:remove="tag"></object>

<link th:href="@{/css/style.css}" rel="stylesheet"> 

</head>

<body>
  <section id="container">
    <div th:include="fragments/topmenuheader :: header"></div>
 <div th:include="fragments/homeaside:: aside"></div>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
	<div >
<section id="main-content">
 
      <section class="wrapper site-min-height">
    
                     <div class="container-fluid">
        
        <br>
        <div class="container-fluid">
            <div class="block-header">
                <h2>DASHBOARD</h2>
            </div>

            <!-- Widgets -->
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="content">
                            <div class="text">MEMBRES</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20" th:text="${membres}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="fas fa-pray"></i>
                        </div>
                        <div class="content">
                            <div class="text">CULTES</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20" th:text="${cultes}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="content">
                            <div class="text">DIMES (CASH)</div>
                            <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20" th:text="${dimesCashes}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="content">
                            <div class="text">DIMES (CHEQUES)</div>
                            <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20" th:text="${dimesCheques}"></div>
                        </div>
                    </div>
                </div>
                
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons"></i>
                        </div>
                        <div class="content">
                            <div class="text">DON (NATURES)</div>
                            <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20" th:text="${don_natures}"></div>
                        </div>
                    </div>
                </div>
                
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                      <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                             <i class="fa fa-money"></i>
                        </div>
                        <div class="content">
                            <div class="text">DON(ESPECES)</div>
                            <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20" th:text="${don_especes}"></div>
                        </div>
                    </div>
                </div>
                
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                        <i class="fa fa-money"></i>
                        </div>
                        <div class="content">
                            <div class="text">OFFRANDES</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20" th:text="${offrandes}"></div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <!-- #END# Widgets -->
            <!-- CPU Usage -->
           <!--  <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-6">
                                    <h2>Tableau</h2>
                                </div>
                                <div class="col-xs-12 col-sm-6 align-right">
                                    <div class="switch panel-switch-btn">
                                        <span class="m-r-10 font-12">REAL TIME</span>
                                        <label>OFF<input type="checkbox" id="realtime" checked><span class="lever switch-col-cyan"></span>ON</label>
                                    </div>
                                </div>
                            </div>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div id="real_time_chart" class="dashboard-flot-chart"></div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- #END# CPU Usage -->
            
            
        </div>
 
            <!-- #END# Exportable Table -->
         
        </div>
     </section>
  	  
    </section>
</div>

  
    <!--footer end-->
    <div th:include="fragments/homefooter :: footer"></div>
  </section>



</body>

</html>
